In [3]:
import pandas as pd

In [18]:
df = pd.read_csv("tree.csv")

In [19]:
df

  Outlook Temperature  Routine Wear jacket?
0   Sunny        Cold   Indoor           No
1  Cloudy        Cold   Indoor          Yes
2  Cloudy        Warm  Outdoor           No
3   Sunny        Cold  Outdoor          Yes
4  Cloudy        Cold  Outdoor          Yes
5   Sunny        Warm  Outdoor           No
6  Cloudy        Warm   Indoor           No
7   Sunny        Warm   Indoor           No

In [32]:
df

  Outlook Temperature  Routine Wear jacket?
0   Sunny        Cold   Indoor           No
1  Cloudy        Cold   Indoor          Yes
2  Cloudy        Warm  Outdoor           No
3   Sunny        Cold  Outdoor          Yes
4  Cloudy        Cold  Outdoor          Yes
5   Sunny        Warm  Outdoor           No
6  Cloudy        Warm   Indoor           No
7   Sunny        Warm   Indoor           No

In [36]:
y = df['Wear jacket?']

In [38]:
y

0     No
1    Yes
2     No
3    Yes
4    Yes
5     No
6     No
7     No
Name: Wear jacket?, dtype: object

In [40]:
x = df.drop('Wear jacket?', axis='columns')

In [41]:
x

  Outlook Temperature  Routine
0   Sunny        Cold   Indoor
1  Cloudy        Cold   Indoor
2  Cloudy        Warm  Outdoor
3   Sunny        Cold  Outdoor
4  Cloudy        Cold  Outdoor
5   Sunny        Warm  Outdoor
6  Cloudy        Warm   Indoor
7   Sunny        Warm   Indoor

# Label Encoding

In [28]:
from sklearn.preprocessing import LabelEncoder

In [30]:
le = LabelEncoder()

In [43]:
x.Outlook = le.fit_transform(df['Outlook'])

In [45]:
x.Temperature = le.fit_transform(df['Temperature'])

In [48]:
x.Routine = le.fit_transform(df['Routine'])

# Decision Tree

In [53]:
from sklearn.tree import DecisionTreeClassifier

In [55]:
clf = DecisionTreeClassifier()

In [57]:
clf.fit(x,y)

DecisionTreeClassifier()

In [61]:
clf.predict([[1,0,1]])

C:\Users\DELL\anaconda\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array(['Yes'], dtype=object)